.div-content {
	display: flex;
	justify-content: center;
}

.div-content .div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.trending {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 90%;
}

.trending a {
	text-decoration: none;
	color: black;
}

.article {
	width: 30%;
}