.div-content {
	display: flex;
	justify-content: center;
}

.div-content .div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.trending {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 90%;
}

.trending a {
	text-decoration: none;
	color: black;
}

.trending img {
	width: 20%;
	height: auto;
}

.article {
	width: 100%;
}

.articles .article {
	display: flex;
}

.article .article-author {
	margin-bottom: 8px;
}

.article h3 {
	margin-top: 0;
	margin-bottom: 0;
	color: rgba(41, 41, 41, 1);
}

.article-info {
	margin-top: 8px;
	font-size: 0.8em;
	color: rgba(0, 0, 0, .5);
}

.article-list {
	display: flex;
	flex-direction: column;
}

.article-list .article {
	margin-top: 50px;
}

.article-list .article-body {
	color: rgba(0, 0, 0, .5);
}

.article-list .article {
	align-items: center;
}