.div-content {
	display: flex;
	justify-content: center;
}

.div-content .div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.trending {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 90%;
}

.trending a {
	text-decoration: none;
	color: black;
}

.trending img {
	width: 300px;
	height: auto;
}

.article {
	width: 100%;
}