html, body {
	padding: 0;
	margin: 0;
	color: rgb(25, 25, 25);
	font-family: sans-serif;
}

.div {
	max-width: 1600px;
	width: 90%;
}

.btn {
	background-color: rgb(25, 25, 25);
	color: white !important;
	padding: 10px 20px;
	border-radius: 50px;
}

nav {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
}

nav a {
	text-decoration: none;
	color: black;
}

nav .div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .div form {
	width: 40%;
}

nav .div form input {
	padding: 5px 20px;
	width: 70%;
	border-radius: 50px 0px 0px 50px;
	border: .5px solid rgba(25, 25, 25, 0.5);
	outline: none;
}

nav .div form button {
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 0px 50px 50px 0px;
	padding: 6px 11px;
	margin-left: -5px;
}

nav .nav-menu {
	display: flex;
	list-style-type: none;
}

nav .nav-menu a {
	margin-left: 20px;
}

@media screen and (max-width: 425px) {
	nav .nav-menu .btn-secondary {
		display: none;
	}
}