{% extends 'article/layout.html' %}

{% load markdown_extras %}
{% load static %}

{% block title %}Article{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<aside class="aside-left">
		<button id="like-btn" data-slug='{{ article.slug }}'>Like article {{ article.likes.count }}</button>
		<button id="save-btn" data-slug='{{ article.slug }}'>Save article</button>
	</aside>
	<main>
		{% if request.user == article.author %}
			<a href="{% url 'edit_article' article.slug %}">Edit</a>
			<a href="{% url 'delete_article' article.slug %}">Delete</a>
		{% endif %}
		<h1>{{ article.title }}</h1>
		<p>{{ article.body | markdown | safe }}</p>
		<p>{{ article.created_at }}</p>
		Author: <a href="{% url 'profile' article.author.id %}">{{ article.author }}</a> <br>
		Tags: <a href="{% url 'tag' article.tag %}">{{ article.tag }}</a>
		<br>
		<h2>Comments</h2>
			<a href="{% url 'new_article_comment' article.slug %}">New comment</a>
			{% for comment in article.comments.all %}
				<div>
					<b>{{ comment.author.username }}</b>
					{{ comment.created_at|date:"M d" }}
					<p>{{ comment.body }}</p>
				</div>
			{% endfor %}
	</main>
	<aside class="aside-right">
		test
	</aside>
</div>

<script type="text/javascript" src="{% static 'js/article_detail.js' %}"></script>
{% endblock %}