{% extends 'article/layout.html' %}
{% load static %}
{% load markdown_extras %}

{% block title %}Articles{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<div class="div">
		<h2>{{ object_list.first.author }}</h2>
		<div>
			{% if not request.user == object_list.first.author %}
				{% if object_list.first.author in request.user.following.all %}
					<button id="follow-btn" data-id="{{ object_list.first.author.id }}">Unfollow</button>
				{% else %}
					<button id="follow-btn" data-id="{{ object_list.first.author.id }}">Follow</button>
				{% endif %}
			{% endif %}
		</div>
		<div class="trending articles article-list">
			{% for article in object_list %}
				<div class="article">
					<div class="content">
						<p class="article-date">{{ article.created_at.date|date:"M d" }}</p>
						<h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
						<div class="article-body">{{ article.body | truncatechars:100 | markdown | safe }}</div>
					</div>
					{% if article.get_article_img %}
						{{ article.get_article_img | markdown | safe }}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'js/article_profile.js' %}"></script>
{% endblock %}