{% extends 'article/layout.html' %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<div class="div">
		<h2>Trending</h2>
		<div class="trending">
			{% for article in object_list %}
				<div class="article">
					<p>{{ article.author }}</p>
					<h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
					<p class="article-info">{{ article.created_at.date|date:"M d" }} · {{ article.reading_time }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}