{% extends 'article/layout.html' %}

{% load markdown_extras %}
{% load static %}

{% block title %}Article{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<aside class="aside-left">
		<button id="like-btn" data-slug='{{ article.slug }}'>Like post {{ article.likes.count }}</button>
	</aside>
	<main>
		<h1>{{ article.title }}</h1>
		<p>{{ article.body | markdown | safe }}</p>
		<p>{{ article.created_at }}</p>
		Author: {{ article.author }}
		{{ article.tag }}

		{% if request.user == article.author %}
			<a href="{% url 'edit_article' article.slug %}">Edit</a>
			<a href="{% url 'delete_article' article.slug %}">Delete</a>
		{% endif %}
	</main>
	<aside class="aside-right">
		test
	</aside>
</div>

<script type="text/javascript" src="{% static 'js/article_detail.js' %}"></script>
{% endblock %}