{% extends 'article/layout.html' %}

{% load markdown_extras %}
{% load hitcount_tags %}
{% load static %}

{% block title %}Article{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<aside class="aside-left">
		<button id="like-btn" data-slug='{{ article.slug }}'>Like article {{ article.likes.count }}</button>
		<button id="save-btn" data-slug='{{ article.slug }}'>Save article</button>
		{% get_hit_count for article %}
	</aside>
	<main>
		<div>
			{% if request.user == article.author %}
				<a href="{% url 'edit_article' article.slug %}">Edit</a>
				<a href="{% url 'delete_article' article.slug %}">Delete</a>
				{{ article.hit_count.hits }}
			{% endif %}
			<div class="article-body">
				<p>{{ article.created_at }}</p>
				Author: <a href="{% url 'profile' article.author.id %}">{{ article.author }}</a> <br>
				<h1>{{ article.title }}</h1>
				<p>{{ article.body | markdown | safe }}</p>
				<br>
			</div>
			<hr>
		</div>
		<div class="article-comments">
			<h2>Comments</h2>
			<a href="{% url 'new_article_comment' article.slug %}">New comment</a>
			{% for comment in article.comments.all %}
				<div>
					<b>{{ comment.author.username }}</b>
					{{ comment.created_at|date:"M d" }}
					<p>{{ comment.body }}</p>
				</div>
			{% endfor %}
		</div>
	</main>
	<aside class="aside-right">
		<a href="{% url 'profile' article.author.id %}">{{ article.author }}</a>
		<p>{{ article.author.followers.all.count }} Followers</p>
		{% if not request.user == user.id %}
			{% if article.author in request.user.following.all %}
				<button id="follow-btn" data-id="{{ article.author.id }}">Unfollow</button>
			{% else %}
				<button id="follow-btn" data-id="{{ article.author.id }}">Follow</button>
			{% endif %}
		{% endif %}
	</aside>
</div>

<script type="text/javascript" src="{% static 'js/article_detail.js' %}"></script>
{% endblock %}