{% extends 'article/layout.html' %}
{% load static %}

{% block title %}Articles{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<div class="div-content">
	<div class="div">
		<h2>Following</h2>
		<div class="trending">
			{% for user in object_list.following.all %}
				{% for article in user.articles.all %}
					<div class="article">
						<p>{{ article.author }}</p>
						<h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
						<p>{{ article.created_at.date }}</p>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}